local_backend: true
backend:
  name: git-gateway
  branch: main
media_folder: "images/uploads"
public_folder: "/images/uploads"
site_url: "https://plus-e2d.pages.dev"
display_url: "https://plus-e2d.pages.dev"
collections:
  - name: "posts"
    label: "文章内容"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "标题", name: "title", widget: "string" }
      - { label: "发布日期", name: "date", widget: "datetime" }
      - { label: "正文", name: "body", widget: "markdown" }
